[submodule "vim/pack/vendor/start/ack"]
	path = vim/pack/vendor/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/vendor/start/ctrlp"]
	path = vim/pack/vendor/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/vendor/start/tagbar"]
	path = vim/pack/vendor/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vim/pack/vendor/start/vim-easymotion"]
	path = vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim/pack/vendor/start/vim-glutentags"]
	path = vim/pack/vendor/start/vim-glutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
